@import "../../styles/colors";

.tabs {

  .tabs-nav {
    display: flex;

    div {
      flex-grow: 1;
      text-align: center;
      color: $grey-lighten-1;
      border-bottom: 5px solid $grey-lighten-1;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 5px;
      }

      &:not(:first-child) {
        margin-left: 5px;
      }

      &.active {
        border-bottom: 7px solid $green;
        color: $green;
      }
    }
  }
}