$black: #000;

$grey: #3E3E40;
$grey-lighten-1: #7d7d82;
$grey-lighten-2: #bebec1;

$antique: #FBF7CE;

$green: #00C7C0;

$red: #F44256;

$yellow: #FFD244;

$app-colors: (
        "black": $black,
        "grey": $grey,
        "grey-lighten-1": $grey-lighten-1,
        "antique": $antique,
        "red": $red,
        "yellow": $yellow,
        "green": $green,
);