@import "colors";
@import "variables";

html, body {
    font-family: 'Montserrat', sans-serif;
    color: $grey;
    font-size: $base-font-size;
    font-weight: 400;
}

a {
    color: $grey;
    cursor: pointer;

    &:focus, &:hover, &:active {
        color: $grey;
        text-decoration: none;
    }
}

h1 {
    font-size: 2.6rem;

    &.text-lg {
        font-size: 5rem;
      line-height: 1;
    }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

small, .text-sm {
    font-size: 0.8rem;
}

.text-lg {
    font-size: 1.2rem;
}

.text-weight-semibold {
    font-weight: 600;
}

.text-weight-extrabold {
    font-weight: 800;
}
